<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" >
<head>
    <title>Index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Result</h1>
<h2>Saved successfully</h2>
<p th:text="'id: ' + ${response.id}"/>
<p th:text="'customer: ' + ${response.customer}"/>
<p th:text="'order: ' + ${response.order}"/>
<p th:text="'accessKey: ' + ${response.accessKey}"/>
<p th:text="'dateCreate: ' + ${response.dateCreate}"/>
<p>Click <a th:href="@{/home}">here</a> to see a home.</p>
</body>
</html>